apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: kube-exp1-app
  namespace: argocd

spec:
  project: default

  source:
    repoURL: https://github.com/YOUR_GITHUB_USERNAME/kube_exp1_app.git
    targetRevision: main
    path: k8s

  destination:
    server: https://kubernetes.default.svc
    namespace: default

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
